/* Footer Styles */



/* -------------------------- */
/* Footer */
/* -------------------------- */

// CONTACT INFO FOOTER //
section.footer-company-info {
	width: 20%;
	margin-right: 2%;
	margin-bottom: $base;
	@media screen and (max-width: $mobile-h) {
		width: 100%;
	}
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) {
		width: 48%;
	}
}

.footer-company-info {
	li {
		width: 100%;
		font-size: $font14;
		display: block;
		float: left;
		list-style: none;
	}
	a {
		color: $tan;
	}
	.name {
		font-size: $font14;
		text-transform: uppercase;
		padding-bottom: 1%;
		border-bottom: 1px solid darken($tan,40%);
	}
}

.ftr-contact a {
	text-decoration: none;
	&:hover {
		color: white;
		.email-icon {
			color: $yellow;
		}
	}
}


// FOOTER NAVIGATION //
section.footer-navigation { 
	width: 53%;
	margin-right: 2%;
	@media screen and (max-width: $mobile-h) {
		width: 100%;
		margin-bottom: $base;
	}
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) {
		width: 48%;
		margin-right: 0;
		margin-bottom: $base;
		float: right;
	}
}

.footer-navigation {
	li {
		width: 23%;
		text-align: center;				// align text center
		margin: 0 1%;					// equal side spacing between menu items
		display: block;
		float: left;
		list-style: none;				// remove default li formatting
	}
	a {
		width: 100%;
		height: calc($base*4);
		background-color: rgba(255,255,255,0.07);			// transparent white background
		color: $tan;
		text-decoration: none;				// remove hyperlink underline
		text-transform: uppercase;
		text-shadow: 0 1px 1px black;
		line-height: 1em;					// reduce vertical height between icon and text
		margin: 0 0 $base 0;				// move copyright down
		padding: 21px 0;					// push icon & text to center
		display: inline-block;				// required to maintain box model structure
		// border: 1px solid darken($tan,40%);
		@include radius(4em);				// round buttons
		@include transition(background, 1s, ease-out);		// slow fade after :hover
		//box-shadow: inset -1px 1px 2px rgba(255,255,255, 0.1), -1px 1px 2px rgba(0,0,0,0.5);	// embossed effect
		.nav-icon {
			font-size: 1.4em;				// enlarge icon
			display: block;					// stack icon & text vertically
		}
		.nav-text {
			font-size: $font14;
		}
		&:hover {
			background-color: rgba(255,255,255,0.12);				// white highlight
			@include transition(background, 0s, ease-out);		// instant fade on :hover
			.nav-icon {
				color: $yellow;
			}
			.nav-text {
				color: white;
			}
		}
	}
	@media screen and (max-width: $tablet-h) {
		li {
			width: 100%;
			text-align: center;
			margin: 0;
			display: block;
			float: left;
			list-style: none;
		}
		a {
			width: 100%;
			height: calc($base*3);
			padding: 21px 0;
			display: inline-block;
			//border: 1px solid darken($tan,40%);
			@include radius($corner);
			.nav-icon {
				display: inline-block;
				margin-right: 4px;
			}
			.nav-text {
				vertical-align: super;
			}
		}
	}
}

// SOCIAL FOOTER //
section.footer-social-links {
	width: 23%;					// set max width for desktop
	margin-top: calc($base/2);		// push down to vertially center
	text-align: center;
	h4 {
		font-size: $font14;
		text-transform: uppercase;
		padding-bottom: 1%;				// push line below down from text
	}
	@media screen and (max-width: $mobile-h) {
		width: 70%;						// set max width 70%
		margin-left: 15%;				// align center (30%/2=15)
		//margin-bottom: $base;
	}
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) {
		text-align: left;				// align icons & h4 text left on tablet
		width: 48%;						// set max width 48% + 2% spacing
		h4 {
			border-bottom: 1px solid darken($tan,40%);
		}
	}
}


.footer-social-links {
	ul {
		display: flex;
		flex-flow: row nowrap;
		margin: auto;
		width: 100%;
	}
	li {
		flex-basis: 20%;
		list-style: none;
	}
	.social-text {
		display: none;
	}
	a {
		opacity: 0.5;
		color: $tan;
		font-size: 2rem;
		margin-bottom: 10px;
		display: block;
		&:hover {
			opacity: 1;
			color: $yellow;
		}
	}
}


/* -------------------------- */
/* Footer Elements */
/* -------------------------- */

.copyright {
	width: 100%;
	font-size: $font12;
	text-align: center;
	padding-top: $base;
	clear: both;
}