/* Grid Styles */

// GLOBAL STAR SELECTORS //
* {
	background-repeat: no-repeat;
	box-sizing: border-box; 
	/* -webkit-transition: all 1s ease; */
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after, .clear { clear: both; }


/* -------------------------- */
/* Declarations */
/* -------------------------- */

// FONT SIZES IN EMS //
$font8: 0.5em;
$font10: 0.625em;
$font11: 0.6875em;
$font12: 0.75em;
$font13: 0.8125em;
$font14: 0.875em;
$font16: 1em;
$font18: 1.125em;
$font20: 1.25em;

// COLORS //
$text: #222;
$green: #2d4207;
$yellow: #fc0;
$orange: #ed3c24;
$orange-light: #f29029;
$pink: #f12a6c;
$tan: #c7c2b7;
$contact-light: #eeedeb;
$contact-dark: #d1d0cf;
$gray-light: #ededed;
$gray-light-alpha: #ede8dd;
$gray-dark: #d1d0cf;
$gray-dark-alpha: #e0dacc;
$nav-text: #bdc0c3;

// SOCIAL MEDIA COLORS //
$twitter-blue: #00aced;
$codepen-yellow: #ffcc00;
$github-black: #24292e;
$pinterest-red: #cb2027;
$linkedin-blue: #007bb6;

// MEDIA QUERY BREAK POINTS //
$mobile-v: 320px;
$mobile-m: 455px;
$mobile-h: 590px;
$tablet-v: 591px;
$tablet-h: 900px;
$laptop: 901px;
$computer-v: 1050px;
$computer-h: 1199px;
$television: 1200px;

// Baseline Height, Border Radius, Horizontal Rule //
$base: 1.3125em; /* 21px baseline grid */
$corner: 0.25em; /* Rounded Box Radius */
$line : 4px solid $tan; /* horizonital ruler */


/* -------------------------- */
/* Mixins */
/* -------------------------- */

// FONT FAMILY //
@mixin square-font {
	font-family: 'Bree Serif', serif;
	font-style: normal;
	font-weight: 400;
}

@mixin script-font {
	font-family: 'Oleo Script Swash Caps', cursive;
}

@mixin regular {
	font-family: Verdana, Geneva, sans-serif;
}

// STYLES //
@mixin rotate($rtte) {
	transform:rotate($rtte);
}

@mixin scale($scle) {
	transform:scale($scle);
}

@mixin radius($corn) {
	border-radius:$corn;
}

@mixin box-shadow($bshad) {
	box-shadow:($bshad);
}

@mixin font-smoothing($fsm) {
	font-smoothing:($fsm);
}	

@mixin transition($tone, $ttwo, $tthree) {
	transition:$tone $ttwo $tthree;
}

@mixin blur($blr) {
	filter: blur($blr);
}


/* -------------------------- */
/* Page Containers */
/* -------------------------- */
body {
	color: $text;								// #222
	@include regular;							// Verdana, Geneva, sans-serif
	line-height: $base;							// 1.3125em
	background: #100202;						// off-black
}

main {
	background-color: #E3DDD0;				// off-white
	background-image: url(library/images/pattern-paper.jpg);		// paper texture
	background-repeat: repeat;					// tile across background
	min-height: 65vh;							// force minimum page height for paper texture
}

// Background wraps //
.site-header, .article-wrap, .subcontent-wrap, .quotes-wrap, .services-wrap, .related-wrap, .footer-wrap {
	width: 100%;								// set headers full width
	padding: 0;									// remove section padding
	display: block;								// force items down
	position: relative;							// set parent positioning for children
}
.services-wrap {
	background: rgba(199,194,193,0.6);			// transparent off-white
	padding-left: 8.33%;						// side padding
	padding-right: 8.33%;						// side padding
	margin-bottom: $base;						// 1.3125em
}

/* -------------------------- */
/* BACKGROUND WRAP IMAGES */
/* -------------------------- */
.header-wrap { 
	//background: #100202; 						// Old browsers
	//background: linear-gradient(to bottom,  #100202 20%,#4f0909 100%);
	background: radial-gradient( ellipse at 41% 100%, #ff953f 5%, #530f62 30%, #0f0049 50%, #09002c 70%, #000000 90%);	// gradient behind hero graphic
	padding-top: $base;							// 1.3125em
}

.article-wrap {
	padding-top: calc($base*3);					// 1.3125em *3 = 3.9375em, spacing from header
	padding-bottom: $base;						// 1.3125em, force main content to the footer
}

.services-wrap, .quotes-wrap, .related-wrap {
	background: rgba(199,194,183,0.3);		// transparent white
	box-shadow: inset 0 1px 2px darken($tan,20%), inset 0 -1px 0px lighten($tan,40%);
	margin-bottom: calc($base*2);				// 1.3125em *2 = 2.625em, spacing from header
	padding-top: $base;							// 1.3125em
}

.footer-wrap {
	background: #530f62;					 // Old browsers //
//	background: linear-gradient(to bottom,  #4f0909 0%,#100202 80%); /* W3C */
	background: linear-gradient( to top,  #530f62 0%, #0f0049 85%, #09002c 100%);	// gradient behind hero graphic
	padding-top: $base;							// 1.3125em
}


// ORANGE DIVIDER - HEADER PSUEDO ELEMENT //
.article-wrap:before {				
	content: '';
	width: 100%;								// set width
	height: 10px;								// set height
	background: $orange; 						// #ed3c24, orange
	background: linear-gradient(to right,  $orange 20%,$orange-light 80%); 	// #ed3c24, #f29029, dark to light orange
	display: block;								// set full width
	position: absolute;							// set child position for parent
	top: 0;
	left: 0;
}

// FOOTER PAPER FRAY - FOOTER PSUEDO ELEMENT //
.footer-wrap:before {
	content: '';
	width: 100%;								// set width
	height: 17px;								// set height
	background: url(library/images/pattern-fray.png) repeat-x;	// paper fray pattern
	display: block;								// set full width
	position: absolute;							// set child position for parent
	top:0;
	left: 0;
}


// HEADER //
header.main { 
	width: 100%;								// full width
	margin-bottom: $base;						// 1.3125em
}

// BODY ARTICLES //
.content, .subcontent, .blog-content {
	margin-bottom: calc($base*2);				// 1.3125em *2 = 2.625em
	display: block;								// set full width
	position: relative;							// set child position
	section { 
		margin-bottom: $base;					// 1.3125em
	}
}

.blog-content {
	width: 100%;								// set full width
	float: left;								// push left
	@media screen and (min-width: $laptop) {
		width: 60%;								// override 100%, 60% + 30% = 90%
	}
}
.content section { 
	width: 100%;								// set full width
	@media screen and (min-width: $tablet-v) {
		width: 48%;								// override 100%
	}
	@media screen and (min-width: $laptop) {
		width: 30%;								// override 48%, 30% + 60% = 90%
	}
}

.subcontent section { 
	width: 100%;
	h3 {
		color: $text;							// #222
		margin-bottom: 0.5em;					// spacing bottom
	}
	@media screen and (min-width: $tablet-v) {
		width: 31%;								// override 100%
	}
	@media screen and (min-width: $laptop) {
		width: 23%;								// override 31%, 23% + 2% = 25%
		margin-left: 2%;						// 23% + 2% = 25%
	}
}

// SIDEBAR SERVICES //
aside.services {
	width: 100%;								// set full width
	padding: $base 0 0 0;						// 1.3125em, space on top
	display: block;								// force items down
	section { 
		width: 100%;							// set full width
		display: inline-block;
		float: left;							// align left
		position: relative;						// set child position for float
	}
	@media screen and (min-width: $tablet-v) {
		padding: 0;								// override $base, remove top padding
	}
	@media screen and (min-width: $laptop) {
		padding-top: $base;						// override 0, 1.3125em, add top padding
		section {
			width: 33.33%;						// override 100%
		}
	}
}

.sidebar {
	width: 100%;								// set full width
	float: right;								// align right
	display: inline-block;
	@media screen and (min-width: $laptop) {
		width: 35%;								// override 100%
	}
}

// FOOTER //
.site-footer {
	width: 100%;								// set full width
	@include square-font;						// 'Bree Serif', serif
	color: $tan;								// #c7c2b7
	padding: calc($base*2) 0 $base 0;			// 1.3125 * 2 = 2.625em top, 1.3125em bottom
	display: block;								// push items down
	section {
		display: block;							// push items down
		float: left;							// align left
	    ul {
	    	margin: 0;							// remove default list margin
			padding: 0;							// remove default list padding
		}
	}
}


// MAX WIDTH //
.site-header, .article-wrap, .subcontent-wrap, .quotes-wrap, .services-wrap, .related-wrap, .footer-wrap {
	padding-left: 0;
	padding-right: 0;
}	
.site-header, article, aside.services, aside.client-quotes, aside.related-sites, .site-footer, .body-content {
	width: 84%;
	max-width: 1800px;
	margin-left: auto;					// center content
	margin-right: auto;					// center content
}

@media screen and (min-width: $tablet-v) {
	article {
		width: 94%;	
	}
}
