/* Header Styles */



/* -------------------------- */
/* Header */
/* -------------------------- */

// COMPANY LOGO //
h1.logo {
	width: 151px; 													// set logo width
	height: 81px; 													// set logo height
	margin: calc($base*0.25) 0 calc($base*0.75) 0; 					// (1.3125em *0.25) *16px = 0.328125em, 5.25px, (1.3125em *0.75) *16px = 0.984375em, 15.75px, 
	float: left; 													// position on left side of header
	a {
		width: 100%; 												// fill container width
		height: 100%; 												// fill container height
		background: url(library/images/logo.png) no-repeat;			// logo graphic
		text-indent: -9999px; 										// hide text off screen
		display: block; 											// force full width height
		transition: all ease 0.2s; 									// logo hover transition
		&:hover {
			@include scale(0.95); 									// shrink logo on :hover
		}
		@media screen and (min-resolution: 192dpi) {	 /** display on high resolution screens **/
			background: url(library/images/logo@2x.png) no-repeat; 			// high resolution logo graphic
			background-size: 151px 81px; 							// set logo graphic width height to match h1.logo
		}
	}
	@media screen and (min-width: $television) { 		/** 1600px television screen size and up **/
		margin-left: 2%;											// push logo inward on larger screens
	}
}

/* .hdr-contact {
	background-color: black; 										// #000 black
	font-size: $font10; 											// 0.625em *16px =  10px
	color: #999;													// gray
	display: block;
	position: absolute;
	top: -12px;
	right: 16%;
} */


// HEADER NAVIGATION //
.site-header nav {
	width: 36.5em;													// 36.5em *16px = 584px, set default width for laptop screen & ahove
	line-height: 0.75;												// reduce line height for vertical center positioning of icon and text in mobile menu, reduce line height between icon and text in desktop menu
	text-align: right;												// align li right
	float: right;													// align menu to right of page
	display: block;
	@media screen and (max-width: $mobile-h) {			/** 590px mobile horizontal max width **/
		width: 100%;												// set downdown full width for mobile menu
		margin-bottom: $base;										// 1.3125em *16px = 21px, push splash content down
	}
	@media screen and (min-width: $tablet-v) and (max-width: $tablet-h) { /** 591px tablet vertical to 900px tablet horizontal **/
		width: 65%;													// horizontal menu for tablet screen & above
	}
	@media screen and (min-width: $television) {		 /** 1600px television screen size and up **/
		right: 12%;													// horizontal menu for television screen & above
	}
}

// mobile menu javascript style toggle - display menu //
#nav-menu {
	display: block;
}


// NAV ICON ANIMATIONS
@keyframes bounce-top {
	from { transform: translateY(0px); }
	50% { transform: translateY(-1.25px); }
	to { transform: translateY(0px); }
}
@keyframes bounce-btm {
	from { transform: translateY(0px);  }
	50% { transform: translateY(1.25px); }
	to { transform: translateY(0px); }
}
@keyframes bounce-left {
	from { transform: translateX(0px); }
	50% { transform: translateX(1.25px);}
	to { transform: translateX(0px); }
}
@keyframes bounce-right {
	from { transform: translateX(0px); }
	50% { transform: translateX(-1.25px); }
	to { transform: translateX(0px); }
}

// NAV FORMATTING //
.menu {															// ul formatting
	padding: 0;													// remove default ul padding
	margin: 0;													// remove default ul margin
	li {
		height: calc($base*2.5);								// 1.3125em * 2.5 = 3.28125em, reduce menu item height on mobile, match a:link
		width: 100%;											// set full width
		margin: 0.5% 0 0 0;										// vertical spacing for top & bottom border
		display: inline-block;									// display items horizontally on large screens
		list-style: none;										// remove default list-style
		text-align: center;										// center text inside li
		&:first-child {
			margin: 2% 0 0 0;									// first child vertical spacing from ul border-top
		}
		&.current_page_item a {									// active page highlight
			color: white;										// override gray
			svg {
				fill: $yellow;									// icon color on .current_page_item
			}
		}
		// nav icon formatting //
		svg {
			font-size: 1.3em;									// 1.3em * 16px = 20.8px
			height: 1.6rem;										// 1.6em *16px = 25.6px
			display: inline; 									// svg inline with text
			padding-right: 0.5em;								// horizontal spacing between icon and text
			margin: 0 auto 0 auto; 								// center icon, push text down
			fill: $nav-text;									// #bdc0c3, light gray
			vertical-align: middle;								// center icon vertically with text on mobile
			@include transition(background, 1s, ease-out);
		}
	}
	a {
		width: 100%;
		height: calc($base*2.75);								// 1.3125em *2.5 = 3.28125em, reduce menu item height on mobile, match li
		font-size: 0.875rem;									// 0.875 * 16px = 14px
		text-shadow: 0 2px 0 black;
		color: $nav-text;										// #bdc0c3, light gray
		@include square-font;									// Bree Serif, serif
		text-decoration: none;									// remove hyperlink underline
		text-transform: uppercase;
		padding: calc($base*0.7) 1% $base;						// reduce top padding on mobile
		display: block;											// force full width & height
		@include transition(background, 1s, ease-out);
		border-top: 1px solid rgba(255,255,255,0.1);
		border-bottom: 1px solid black;
		box-shadow: 0px 2px 1px rgba(0,0,0,0.15);
		&:hover {
			background: linear-gradient( to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 50%,rgba(255,255,255,0) 100%);
			color: white;
			@include transition(background, 0s, linear);
			svg {
				fill: $yellow;									// icon color on :hover
				#bottom {
					animation: bounce-btm 0.25s 0.1s ease-in-out; // animation duration delay transition
				}
				#top {
					animation: bounce-top 0.25s 0.1s ease-in-out; // animation duration delay transition
				}
				#left {
					animation: bounce-left 0.25s 0.1s ease-in-out; // animation duration delay transition
				}
				#right {
					animation: bounce-right 0.25s 0.1s ease-in-out; // animation duration delay transition
				}
			}
		}
	}
	@media screen and (max-width: $mobile-h) {			/** 590 mobile horizontal max screen **/
		// mobile menu javascript style toggle - hide menu on page load //
		&#nav-menu {
			display: none;										// hide mobile menu on page load
		}
	}
	@media screen and (min-width: $tablet-v) {			/**  591px tablet vertical and larger screens **/
		border: none; 											// override 1px border top & bottom
		li {
			width: 23%;											// override 100%
			list-style: none;									// remove default li formatting
			margin: calc($base/2) 1% 0 0;						// override 0.5% 0 0 0, spacing top and between list items
			&:last-child {
				margin: 0;										// override 2% 0 0 0, remove right space on last child
			}
			svg {
				padding-right: 0;								// override 0.5em
				margin: 0 auto 0.25em auto; 					// center icon, push text down
				display: block; 								// override inline, force text down
			}
		}
		a {
			height: calc($base*4);								// override calc($base*2.5), 1.3125em *4 = 5.25em, increase menu item height
			padding: calc($base*0.4) 1% 0;						// override calc($base*0.7) 1% 0, 1.3125em *0.5 = 0.65625em, reduce top padding
			margin-top: 1em;									// 16px, separate links from top of page
			border: none;										// override 1px border top and bottom
			box-shadow: none;									// override, remove box-shadow
			&:hover {
				background: none;								// override gradient for mobile
			}
		}
	}
}

// ACTIVE NAV HIGHLIGHT SUBPAGES //
// Portfolio, Jam, Movie //
// Located here to override media queries in all circumstances //
body.single-project .page-item-21 a, .current_page_ancestor.page-item-21 a, body.single-post .page-item-1029 a {
	color: white;												// override gray
	svg {
		fill: $yellow;											// icon color on .current_page_item
	}
}


// TOGGLE MENU BUTTON //
h3#menu-toggle {
	color: $nav-text; 											// #bdc0c3 white gray
	display: none;												// hide menu toggle 
	@media screen and (max-width: $mobile-h) { 			/**  590px mobile horizontal max screen **/
		width: 2.3em;											// 2.3em *16px = 36.8px, set toggle width
		display: inline-block;									// show menu toggle on mobile
		text-align: center;										// center hamburger icon
		position: absolute;										// set child position to .site-header
		top: calc($base*0.75);									// (1.3125em *0.75) *16px = 0.984375em, 15.75px, top position
		right: 4%;												// right position
		text-shadow: none;										// remove white text shadow from menu item
	    .menu-icon {
			font-size: 3em;										// 3em *16px = 48px
			margin-bottom: 2px;									// move Menu text down from hamburger icon
			display: inline-block;								// need for margin-bottom
	    }
	    .menu-text {
	    	@include square-font;								// Bree Serif, serif
	    }
	    a:hover {
	    	.menu-icon {
				color: white;									// #fff, on hover make the hamburger icon white
	    	}
	    	.menu-text {
				color: $yellow;									// #fc0, on hover make Menu yellow
	    	}
	    }
		a {
			width: 100%;										// set menu toggle to full width
			height: 100%;										// set menu toggle to full height
			color: $nav-text;									// #bdc0c3, light gray
			font-size: $font12;									// 0.75em * 16px = 12px
			display: block;										// reduces toggle height, reduces spacing for Menu text
		}
	}
}