/* Sidebar Styles */



/*---------------------------------- */
/*----------     Aside    -----------*/
/*---------------------------------- */

// CUSTOMER QUOTES //
div.quotes {
	margin-left: -2%;
}
.testimonial {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	max-width: 800px;
}

.client-quotes, .related-sites {
	h2 {
		width: 100%;
		font-size: 1.6em;
		text-shadow: 0 1px white;
		display: block;
		vertical-align: middle;
		margin-bottom: $base;
		margin-top: .2em; // 0.2em *16px = 3.2px
		.us-icon, .testimonial-icon {
			font-size: 1.4em;
		}
		.related-sites-icon {
			font-size: 1.2em;
		}
	}
}
.client-quotes h2 {
	text-align: center;
}
blockquote:before {
	font-family: 'ted-icons';
	speak: none;
	font-style: normal;
	font-size: 1.8em;
	@include font-smoothing(antialiased);
	content: '\e90b';
	color: darken($tan,1%);
	position: absolute;
	z-index: -1;
	top: -0.25em;
	left: 0;
}

.client-quotes {
	padding-bottom: calc($base *2);
	p {
		text-indent: 1.5em;
		z-index: 2;
	}
	cite {
		font-size: $font14;
		font-weight: bold;
		margin-left: 2.5em;
		&:before {
			content: '—'
		}
		a {
			color: $orange;
			font-weight: normal;
			&:hover {
				color: $text;
			}
		}
	}
}
@keyframes heartbeat {	// used on the testimonial heart icon
	from { font-size: 1em; }
	25%  { font-size: 0.8em; }
	50%  { font-size: 1em; }
	75%  { font-size: 0.8em; }
	to   { font-size: 1em; }
}
.client-heart {
	width: 24px;
	height: 16px;
	display: inline-block;
	text-align: center;
	&-icon {
		color: $orange;
		animation: heartbeat 4s ease infinite;
		transform-origin: center center;
	}
}
.client-love {
	@extend .screen-reader-text;
}
.related-sites {
	padding-bottom: $base;										// 1.3125em *16px = 21px, push down bottom border
	li {
		@media screen and (min-width: $laptop) and (max-width: $television) {	/** 901px laptop to 1600px television screen size **/
			&:nth-child(4) {									// remove widow project when 3-up
				display: none;
			}
		}
	}
}


/*---------------------------------- */
/*----------    Sidebar   -----------*/
/*---------------------------------- */

// SOCIAL LINKS //
.sidebar-social-links {
	width: 100%;												// set width 100% of container
	padding: $base 0;											// 1.3125em *16px = 21px, top & bottom spacing
	margin-bottom: calc($base*2);								// (1.3125em *2) *16px = 2.625em, 42px, space from footer on mobile
	h3 {
		text-align: center;										// center header
	}
	@media screen and (min-width: $laptop) { 		/** 901px laptop screen size and larger **/
		margin-bottom: 0;										// override 2.625em, remove spacing for blog posts to move up on tablet and larger
	}
}


