/* Typography Styles */

/* -------------------------- */
/* Icon Font */
/* -------------------------- */

@font-face {
	font-family: 'ted-icons';
	src:url('library/fonts/ted-icons.eot');
	src:url('library/fonts/ted-icons.eot?#iefix') format('embedded-opentype'),
		url('library/fonts/ted-icons.woff') format('woff'),
		url('library/fonts/ted-icons.ttf') format('truetype'),
		url('library/fonts/ted-icons.svg#ted-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'ted-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}



/* -------------------------- */
/* Body Text */
/* -------------------------- */
h2, h3 {
	@include square-font;								// Bree Serif, serif
	line-height: 1em;									// 1em = 16px
	margin: 0 0 calc($base / 2) 0;						// 1.3125em /2 = 0.65625em, bottom spacing
}

h2 { 
	font-size: 2em;										// 2em *16px = 32px
	text-shadow: 0 1px white; 
}
//.h2-small { font-size: $font12; }						// 0.75em *16px = 12px
//h2.indent { padding-left: 1em; }						// 1em = 16px
h3 { font-size: 1.4em; }								// 1.25em *16px = 20px
h4 { margin-top: 0; }									// remove default top margin for footer headers
p { font-size: $font16; line-height: 1.6; }				// 1em = 16px, increase line height
//p.space { margin-bottom: calc($base * 2); }				// 1.3125em *2 = 2.625em, increase bottom spacing
//p.space-columns { margin-bottom: calc($base * 2); }		// 1.3125em *2 = 2.625em, increase bottom spacing
.archive-title {
	margin-bottom: $base;								// 1.3125em, bottom spacing
}

/* hr {
	border: none;
	border-bottom: $line;
} */
.uppercase { text-transform: uppercase; }

.large {
	font-size: 1.8em;									// 1.8em *16px = 28.8px
	line-height: 1em;									// 1em = 16px
}

::selection { background: $orange-light; }				// #f29029, orange

.screen-reader-text {
	display: none;										// hide content
}
	